/* Color Palette */
:root {
  --primary-color: #0A1828;
  /* Primary color */
  --secondary-color: #178582;
  /* Secondary color */
  --accent-color: #BFA181;
  /* Accent color */
  --text-color: #178582;
  /* Text color */
  --background-color: #2F5C8F;
  /* Background color */
}

/* Global Styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.ui-layout-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Section */
.ui-section-header {
  background-color: var(--primary-color);
  padding: 60px;
  word-spacing: 5px;
}

.ui-section-header .navbar-brand {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: bold;
}

.ui-section-header .navbar-nav .nav-link {
  position: relative;
  font-size: 20px;
}


.ui-section-header .navbar-nav .nav-link:after {
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.ui-section-header .navbar-nav .nav-link:hover:after {
  content: '';
  opacity: 1.3;
  height: 2px;
  width: 100%;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.ui-section-header .form-control {
  width: 200px;
}

.ui-section-header .btn {
  margin-left: 1px;
}

.btn btn-outline-success {
  float: right;
}

/* Hero Section */
.ui-section-hero {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 100px 0;
  text-align: center;
}

.ui-section-hero h1 {
  font-size: 60px;
  margin-bottom: 30px;
}

.ui-section-hero .lead {
  font-size: 30px;
  margin-bottom: 35px;
}

.ui-section-hero .btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* Features Section */
.ui-section-features {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 40px 0;
}

.ui-section-features h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.ui-section-features .row {
  margin-bottom: 30px;
}

.ui-section-features h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.ui-section-features p {
  margin-bottom: 30px;
}

/* Pricing Section */
.ui-section-pricing {
  background-color: var(--primary-color);
  color: var(--accent-color);
  text-align: center;
}

.ui-section-pricing h2 {
  font-size: 36px;
  margin-bottom: 24px;

}

.ui-section-pricing h3 {
  font-size: 24px;
  margin-bottom: 24px;

}

.ui-section-pricing p {
  font-size: 19px;
  margin-bottom: 10px;

}



/* Testimonials Section */
.ui-section-testimonials {
  padding: 40px 0;
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.ui-section-testimonials h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.ui-section-testimonials .blockquote {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 30px;
}

.ui-section-testimonials .blockquote p {
  margin-bottom: 20px;
}

.ui-section-testimonials .blockquote-footer {
  color: var(--secondary-color);
  font-weight: bold;
}

/* Footer Section */
.ui-section-footer {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 20px;
  text-align: center;
}

.ui-section-footer p {
  margin: 0;
}